:root {
    --main-and-footer-heading-color: #2F303A;  
    --main-heading-color: #212121;
    --main-text-color: #fff;
    --main-background-section4: #F5F4FA;
    --main-button-color: #2196F3;
    --accent-color-and-current-website: #03A9F4;
    --header-link-color: #7D7D7D;
    --header-color-link: #757575;
    --dark-color-for-text: #000;
    --work-color: #F5F4FA;
    --main-header-color: #ECECEC;
    --buttom-when-mouse-on-button: #188CE8;
    --animation-color-btn: #16568a;
    --background-for-icons: #f5f4fa;
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Raleway', sans-serif;
    --fill-email-and-phone: #757575;
    --social-links-workers: #AFB1B8;
    --bg-portfolio-hover: rgba(33, 150, 243, 0.9);
}