.backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 94px 15px 0;
    opacity: 1;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 528px;
    padding: 40px;
    border-radius: 4px;
    background-color: $main-text-color;
    transform: translate(-50%, -50%);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.no-scroll {
    overflow: hidden;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, 50%) scale(0.5);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $main-text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover {
        fill: $main-button-color;
    }
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regestration {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-heading-color;
    flex-direction: column;

}

.regestration-title {
    margin: 12px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
}

.regestration-div {
    position: relative;
    width: 100%;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.regestration-label {
    margin: 0 0 4px 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $fill-email-and-phone;
}

.regestration-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.regestration-required {
    height: 40px;
    margin: 0 0 10px 0;
    padding: 0 42px;
}

.regestration-comment {
    height: 120px;
    margin: 0 0 20px 0;
    padding: 12px 16px;
    font-size: 14px;
    resize: none;
}

.regestration-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0 0 30px 0;
    color: $fill-email-and-phone;
}

.regestration-send {
    align-self: center;
    color: var($main-text-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #188ce8;
}

.regestration-link {
    color: var($main-button-color);
    text-decoration: underline;
}

.regestration-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    transform: translateY(-25%);
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.user:hover,
.tel:hover,
.email:hover,
.comment:hover,
.user:focus,
.tel:focus,
.email:focus,
.comment:focus,
.user:active,
.tel:active,
.email:active,
.comment:active {
    border-color: $main-button-color;
    fill: $main-button-color;
}